<!DOCTYPE html>
<html>
<head>
  <title>quuz.ja.html.erb</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
quuz.ja.html.erb
</body>
</html>
